--
-- PostgreSQL database dump
--

\restrict 8wbzNKO8sj258DxrNN9uBdSbZnqx8U5JSU7O9Bhv0I57Y6YEJz1B4e6Tg9ueZf7

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: backtest_equity; Type: TABLE; Schema: public; Owner: marketpulse
--

CREATE TABLE public.backtest_equity (
    strategy text NOT NULL,
    ticker text NOT NULL,
    date date NOT NULL,
    equity numeric,
    returns numeric
);


ALTER TABLE public.backtest_equity OWNER TO marketpulse;

--
-- Name: backtest_results; Type: TABLE; Schema: public; Owner: marketpulse
--

CREATE TABLE public.backtest_results (
    strategy text,
    ticker text,
    start_date date,
    end_date date,
    cumulative_return numeric,
    sharpe numeric,
    max_drawdown numeric,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.backtest_results OWNER TO marketpulse;

--
-- Name: features_daily; Type: TABLE; Schema: public; Owner: marketpulse
--

CREATE TABLE public.features_daily (
    ticker text NOT NULL,
    date date NOT NULL,
    ma_20 numeric,
    ma_50 numeric,
    volatility_20 numeric,
    rsi_14 numeric
);


ALTER TABLE public.features_daily OWNER TO marketpulse;

--
-- Name: prices_daily; Type: TABLE; Schema: public; Owner: marketpulse
--

CREATE TABLE public.prices_daily (
    ticker text NOT NULL,
    date date NOT NULL,
    open numeric,
    high numeric,
    low numeric,
    close numeric,
    volume bigint
);


ALTER TABLE public.prices_daily OWNER TO marketpulse;

--
-- Name: sentiment_daily; Type: TABLE; Schema: public; Owner: marketpulse
--

CREATE TABLE public.sentiment_daily (
    ticker text NOT NULL,
    date date NOT NULL,
    source text NOT NULL,
    avg_sentiment numeric,
    n_items integer,
    sample_titles text
);


ALTER TABLE public.sentiment_daily OWNER TO marketpulse;

--
-- Name: gold_features; Type: VIEW; Schema: public; Owner: marketpulse
--

CREATE VIEW public.gold_features AS
 SELECT p.ticker,
    p.date,
    p.close,
    f.ma_20,
    f.ma_50,
    f.volatility_20,
    COALESCE(s.avg_sentiment, (0)::numeric) AS avg_sentiment,
        CASE
            WHEN (abs(s.avg_sentiment) >= 0.02) THEN 1
            ELSE 0
        END AS sentiment_event
   FROM ((public.prices_daily p
     LEFT JOIN public.features_daily f ON (((p.ticker = f.ticker) AND (p.date = f.date))))
     LEFT JOIN public.sentiment_daily s ON (((p.ticker = s.ticker) AND (p.date = s.date))));


ALTER TABLE public.gold_features OWNER TO marketpulse;

--
-- Name: model_results; Type: TABLE; Schema: public; Owner: marketpulse
--

CREATE TABLE public.model_results (
    model_name text NOT NULL,
    ticker text NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    cumulative_return numeric,
    sharpe numeric,
    max_drawdown numeric,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.model_results OWNER TO marketpulse;

--
-- Name: gold_model_decision; Type: VIEW; Schema: public; Owner: marketpulse
--

CREATE VIEW public.gold_model_decision AS
 WITH base AS (
         SELECT model_results.ticker,
            model_results.sharpe AS sharpe_base,
            model_results.cumulative_return AS ret_base,
            model_results.max_drawdown AS dd_base
           FROM public.model_results
          WHERE (model_results.model_name = 'LR_TECH_V1'::text)
        ), sent AS (
         SELECT model_results.ticker,
            model_results.sharpe AS sharpe_sent,
            model_results.cumulative_return AS ret_sent,
            model_results.max_drawdown AS dd_sent
           FROM public.model_results
          WHERE (model_results.model_name = 'LR_TECH_SENT_V2'::text)
        )
 SELECT COALESCE(b.ticker, s.ticker) AS ticker,
    (s.sharpe_sent - b.sharpe_base) AS delta_sharpe,
    (s.ret_sent - b.ret_base) AS delta_return,
    (s.dd_sent - b.dd_base) AS delta_drawdown,
        CASE
            WHEN (((s.sharpe_sent - b.sharpe_base) > (0)::numeric) AND ((s.dd_sent - b.dd_base) < (0)::numeric)) THEN 'MELHOR_RISCO_RETORNO'::text
            WHEN (((s.sharpe_sent - b.sharpe_base) > (0)::numeric) AND ((s.dd_sent - b.dd_base) >= (0)::numeric)) THEN 'RETORNO_MAIOR_RISCO'::text
            WHEN ((s.sharpe_sent - b.sharpe_base) < (0)::numeric) THEN 'PIOROU_MODELO'::text
            ELSE 'NEUTRO'::text
        END AS decision_label
   FROM (base b
     FULL JOIN sent s ON ((b.ticker = s.ticker)));


ALTER TABLE public.gold_model_decision OWNER TO marketpulse;

--
-- Name: model_predictions; Type: TABLE; Schema: public; Owner: marketpulse
--

CREATE TABLE public.model_predictions (
    model_name text NOT NULL,
    ticker text NOT NULL,
    date date NOT NULL,
    prob_up numeric,
    signal integer
);


ALTER TABLE public.model_predictions OWNER TO marketpulse;

--
-- Name: gold_trading_decision; Type: VIEW; Schema: public; Owner: marketpulse
--

CREATE VIEW public.gold_trading_decision AS
 SELECT mp.ticker,
    mp.date,
    mp.model_name,
    mp.signal,
    mp.prob_up,
    gd.decision_label
   FROM (public.model_predictions mp
     LEFT JOIN public.gold_model_decision gd ON ((mp.ticker = gd.ticker)));


ALTER TABLE public.gold_trading_decision OWNER TO marketpulse;

--
-- Name: risk_scores; Type: TABLE; Schema: public; Owner: marketpulse
--

CREATE TABLE public.risk_scores (
    ticker text NOT NULL,
    date date NOT NULL,
    risk_label text,
    risk_score numeric
);


ALTER TABLE public.risk_scores OWNER TO marketpulse;

--
-- Data for Name: backtest_equity; Type: TABLE DATA; Schema: public; Owner: marketpulse
--



--
-- Data for Name: backtest_results; Type: TABLE DATA; Schema: public; Owner: marketpulse
--



--
-- Data for Name: features_daily; Type: TABLE DATA; Schema: public; Owner: marketpulse
--



--
-- Data for Name: model_predictions; Type: TABLE DATA; Schema: public; Owner: marketpulse
--



--
-- Data for Name: model_results; Type: TABLE DATA; Schema: public; Owner: marketpulse
--



--
-- Data for Name: prices_daily; Type: TABLE DATA; Schema: public; Owner: marketpulse
--



--
-- Data for Name: risk_scores; Type: TABLE DATA; Schema: public; Owner: marketpulse
--

COPY public.risk_scores (ticker, date, risk_label, risk_score) FROM stdin;
\.


--
-- Data for Name: sentiment_daily; Type: TABLE DATA; Schema: public; Owner: marketpulse
--



--
-- Name: backtest_equity backtest_equity_pkey; Type: CONSTRAINT; Schema: public; Owner: marketpulse
--

ALTER TABLE ONLY public.backtest_equity
    ADD CONSTRAINT backtest_equity_pkey PRIMARY KEY (strategy, ticker, date);


--
-- Name: features_daily features_daily_pkey; Type: CONSTRAINT; Schema: public; Owner: marketpulse
--

ALTER TABLE ONLY public.features_daily
    ADD CONSTRAINT features_daily_pkey PRIMARY KEY (ticker, date);


--
-- Name: model_predictions model_predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: marketpulse
--

ALTER TABLE ONLY public.model_predictions
    ADD CONSTRAINT model_predictions_pkey PRIMARY KEY (model_name, ticker, date);


--
-- Name: model_results model_results_pkey; Type: CONSTRAINT; Schema: public; Owner: marketpulse
--

ALTER TABLE ONLY public.model_results
    ADD CONSTRAINT model_results_pkey PRIMARY KEY (model_name, ticker, start_date, end_date);


--
-- Name: prices_daily prices_daily_pkey; Type: CONSTRAINT; Schema: public; Owner: marketpulse
--

ALTER TABLE ONLY public.prices_daily
    ADD CONSTRAINT prices_daily_pkey PRIMARY KEY (ticker, date);


--
-- Name: risk_scores risk_scores_pkey; Type: CONSTRAINT; Schema: public; Owner: marketpulse
--

ALTER TABLE ONLY public.risk_scores
    ADD CONSTRAINT risk_scores_pkey PRIMARY KEY (ticker, date);


--
-- Name: sentiment_daily sentiment_daily_pkey; Type: CONSTRAINT; Schema: public; Owner: marketpulse
--

ALTER TABLE ONLY public.sentiment_daily
    ADD CONSTRAINT sentiment_daily_pkey PRIMARY KEY (ticker, date, source);


--
-- PostgreSQL database dump complete
--

\unrestrict 8wbzNKO8sj258DxrNN9uBdSbZnqx8U5JSU7O9Bhv0I57Y6YEJz1B4e6Tg9ueZf7

